<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/_errorLayout}">
<head>
  <title>500错误</title>
</head>
<body>
<th:block layout:fragment="bodySection">
  <section class="content-header">
    <h1>500错误</h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/}"><i class="fa fa-home"></i> 首页</a></li>
      <li class="active">500错误</li>
    </ol>
  </section>
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 500</h2>
      <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> 不好了！出现了一些错误。</h3>
        <p>我们将尽快解决这个问题。您也可以<a th:href="@{/}">返回首页</a>。</p>
      </div>
    </div>
  </section>
</th:block>
</body>
</html>
