<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单新增或修改</title>
</head>
<body>
<th:block th:fragment="content">
    <div class="form-group">
        <label class="col-xs-3 control-label label-required">名称:</label>
        <div class="col-xs-9">
            <input type="text" name="name" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">父菜单:</label>
        <div class="col-xs-9">
            <select name="parentId" class="form-control parent-id_selector">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">系统名称:</label>
        <div class="col-xs-9">
            <input type="text" name="systemName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Url:</label>
        <div class="col-xs-9">
            <input type="text" name="url" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">图标:</label>
        <div class="col-xs-9">
            <input type="text" name="className" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label label-required">显示顺序:</label>
        <div class="col-xs-9">
            <input type="text" name="displayOrder" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">描述:</label>
        <div class="col-xs-9">
            <input type="text" name="description" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="enabled" checked="checked"> 启用
                </label>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="script (formSelector)">
    <script type="text/javascript" th:inline="javascript">
        (function (factory) {
            factory(window, jQuery);
        })(function (global, $) {
            'use strict';


            var allMenusTree = ArrayUtil.ensureArray(/*[[${menusTree}]]*/ null);
            var model = /*[[${model}]]*/ null;
            var $form = $(/*[[${formSelector}]]*/ '');


            function _$(selector) {
                return $form.find(selector);
            }

            function initControls() {
                initMenusTree();
                $form.data('api', {
                    validData: validData
                });
            }

            function initMenusTree() {
                var menuArr = ArrayUtil.treeToList(allMenusTree);
                _$('.parent-id_selector').html(Html.buildOptionsHtml(menuArr, 'id', function (menuItem) {
                    return _.repeat('|--', menuItem.level) + menuItem.name;
                }, true));
            }

            function initValidates() {
                $form.validate({
                    rules: {
                        name: 'required',
                        displayOrder: {
                            required: true,
                            number: true,
                            min: 0
                        }
                    }
                });
            }

            function bindData(data) {
                if(TypeUtil.isNull(data)){
                    return;
                }

                Html.bindData($form, data);
                _$('.parent-id_selector').find('option[value=' + data.id + ']').prop('disabled', true);
            }

            function validData() {
                return $form.valid();
            }


            initValidates();
            initControls();
            bindData(model);
        });
    </script>
</th:block>
</body>
</html>