<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单新增或修改</title>
</head>
<body>
<th:block th:fragment="content">
    <div class="form-group">
        <label class="col-xs-3 control-label label-required">名称:</label>
        <div class="col-xs-9">
            <input type="text" name="name" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">父菜单:</label>
        <div class="col-xs-9">
            <select name="parentId" class="form-control parent-id_selector">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">系统名称:</label>
        <div class="col-xs-9">
            <input type="text" name="systemName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">Url:</label>
        <div class="col-xs-9">
            <input type="text" name="url" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">图标:</label>
        <div class="col-xs-9">
            <input type="text" name="className" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label label-required">显示顺序:</label>
        <div class="col-xs-9">
            <input type="text" name="displayOrder" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">描述:</label>
        <div class="col-xs-9">
            <input type="text" name="description" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="enabled"> 启用
                </label>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="script (formSelector)">
    <script type="text/javascript" th:inline="javascript">
        (function (factory) {
            factory(window, jQuery);
        })(function (global, $) {
            'use strict';


            var allMenusTree = ArrayUtil.ensureArray(/*[[${menusTree}]]*/ null);
            var model = /*[[${model}]]*/ null;
            var $form = $(/*[[${formSelector}]]*/ '');


            function _$(selector) {
                return $form.find(selector);
            }

            function initControls() {
                initMenusTree();
                $form.data('api', {
                    validData: validData
                });
            }

            function initMenusTree() {
                var menuArr = ArrayUtil.treeToList(allMenusTree);
                _$('.parent-id_selector').html(Html.buildOptionsHtml(menuArr, 'id', function (menuItem) {
                    return _.repeat('|--', menuItem.level) + menuItem.name;
                }, true));
            }

            function initValidates() {
                $form.validate({
                    rules: {
                        name: 'required',
                        displayOrder: {
                            required: true,
                            number: true,
                            min: 0
                        }
                    }
                });
            }

            // function bindData(data) {
            //     if(TypeUtil.isNull(data)){
            //         return;
            //     }
            //
            //     _.forEach(data, function (value, name) {
            //         var $control = _$(StringUtil.format('[name={0}]', name));
            //         if($control.is('input:text')){
            //             switch(name){
            //                 case 'buyDate':
            //                 case 'scrapDate':
            //                     value = DateTimeUtil.parse(value);
            //                     $control.datepicker('update', value);
            //                     break;
            //                 default:
            //                     $control.val(value);
            //                     break;
            //             }
            //         }else if(name === 'equipmentId'){
            //             var equipment = _.find(allEquipments, {id: value});
            //             $('select[name=typeId]').val(equipment.typeId);
            //             onTypeChange(equipment.typeId, true);
            //             $('select[name=subjectNameId]').val(equipment.subjectNameId);
            //             onSubjectNameChange(equipment.subjectNameId, equipment.typeId, true);
            //             $('select[name=brand]').val(equipment.brand);
            //             onBrandChange(equipment.brand, equipment.subjectNameId, equipment.typeId);
            //             $control.val(value);
            //         }else if(name === 'responsiblePersonId'){
            //             $control.val(value);
            //             $control.trigger('change');
            //         }else{
            //             $control.val(value);
            //         }
            //     });
            // }
            //
            // function onTypeChange(typeId, preventChangeEvent) {
            //     var equipments = _.filter(allEquipments, {typeId: typeId});
            //     var equipmentsBySubjectName = _.uniqBy(equipments, 'subjectNameId');
            //
            //     _$('.subject-name-id_selector').html(Html.buildOptionsHtml(equipmentsBySubjectName, 'subjectNameId', 'subjectName', true));
            //     if(!preventChangeEvent){
            //         _$('.subject-name-id_selector').trigger("change");
            //     }
            // }
            //
            // function onSubjectNameChange(subjectNameId, typeId, preventChangeEvent) {
            //     var equipments = _.filter(allEquipments, {typeId: typeId, subjectNameId: subjectNameId});
            //     var equipmentsByBrand = _.uniqBy(equipments, 'brand');
            //
            //     _$('.brand_selector').html(Html.buildOptionsHtml(equipmentsByBrand, 'brand', 'brand', true));
            //     if(!preventChangeEvent) {
            //         _$('.brand_selector').trigger("change");
            //     }
            // }
            //
            // function onBrandChange(brand, subjectNameId, typeId) {
            //     var equipments = _.filter(allEquipments, {typeId: typeId, subjectNameId: subjectNameId, brand: brand});
            //
            //     _$('.model-no_selector').html(Html.buildOptionsHtml(equipments, 'id', 'modelNo', true));
            // }
            //
            // function onStatusChange(statusId) {
            //     _$('input.scrap-date_selector').prop('disabled', statusId !== EnumUtil.EquipmentAssetStatus.Scrapped && statusId !== EnumUtil.EquipmentAssetStatus.Sold);
            //     _$('input.sell-price_selector').prop('disabled', statusId !== EnumUtil.EquipmentAssetStatus.Sold);
            //     _$('label.scrap-date_selector').toggleClass('label-required', statusId === EnumUtil.EquipmentAssetStatus.Scrapped || statusId === EnumUtil.EquipmentAssetStatus.Sold);
            //     _$('label.sell-price_selector').toggleClass('label-required', statusId === EnumUtil.EquipmentAssetStatus.Sold);
            // }

            function validData() {
                return $form.valid();
            }


            initValidates();
            initControls();
        });
    </script>
</th:block>
</body>
</html>