<form data-th-insert="menu/_createOrUpdate :: content" id="menuAddForm" class="form-horizontal">
</form>
<script type="text/javascript" data-th-replace="menu/_createOrUpdate :: script('#menuAddForm')"></script>
<script type="text/javascript">
    (function (factory) {
        factory(window, jQuery);
    })(function (global, $) {
        'use strict';


        global.submitAddData = function () {
            var d = $.Deferred();
            var promise = d.promise();

            var formApi = $('#menuAddForm').data('api');
            if(!formApi.validData()) {
                return promise;
            }

            return $.ajax({
                type: 'POST',
                url: App.mapPath('menu/add'),
                data: $('#menuAddForm').serialize()
            }).done(function (result) {
                d.resolve(result);
            });

            return promise;
        };
    });
</script>