<form data-th-insert="menu/_createOrUpdate :: content" id="menuAddForm" class="form-horizontal">
</form>
<script type="text/javascript" data-th-replace="menu/_createOrUpdate :: script('#menuAddForm')"></script>
<script type="text/javascript">
    (function (factory) {
        factory(window, jQuery);
    })(function (global, $) {
        'use strict';


        // global.submitAddData = function () {
        //     var d = $.Deferred();
        //     var promise = d.promise();
        //
        //     var formApi = $('#equipmentAssetAddForm').data('api');
        //     if(!formApi.validData()) {
        //         return promise;
        //     }
        //
        //
        //     var addData = $('#equipmentAssetAddForm').serializeJson();
        //     if(TypeUtil.isNull(formApi.photoFileUpload)){
        //         $.ajax({
        //             type: 'POST',
        //             url: mapPath('equipment-asset/add'),
        //             data: addData
        //         }).done(function (result) {
        //             d.resolve(result);
        //         });
        //     }else{
        //         formApi.photoFileUploadOption({
        //             url: mapPath('equipment-asset/add'),
        //             done: function (e, response) {
        //                 d.resolve(response.result);
        //             }
        //         });
        //         formApi.photoFileUpload.submit();
        //     }
        //
        //     return promise;
        // };
    });
</script>